.circle {
  display: inline-flex;
  padding-left: 50px;
  padding-right: 50px;
  padding-bottom: 8px;
  border: 2px solid white;
  border-radius: 100px;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  background-image: none !important;
}
.carousel-indicators {
  margin-bottom: 3.5rem !important;
}
.carousel-indicators button {
  border-radius: 50% !important;
  width: 15px !important;
  height: 15px !important;
  margin: 0 8px !important;
}

@media (max-width: 767px) {
  .carousel-indicators button {
    position: none;
  }
}
.w-80 {
  width: 85% !important;
}
.w-40 {
  width: 40% !important;
}
.w-70 {
  width: 70% !important;
}
.w-75 {
  width: 75% !important;
}
.w-90 {
  width: 90% !important;
}
.margins {
  margin-right: -100px;
}
.margin-top-banner {
  margin-top: -50px;
  margin-right: -50px;
}

@media only screen and (max-width: 767px) {
  .w-70,
  .w-90,
  .w-80 {
    width: 100% !important;
  }
  .margins {
    margin-right: 0px;
  }
  .margin-top-banner {
    margin-top: 0px;
    margin-right: 0px;
  }
}
