
.circle {
  display: inline-flex;
  padding-left: 50px;
  padding-right: 50px;
  padding-bottom: 8px;
  border: 2px solid white;
  border-radius: 100px;
}

.mx-5 {
  margin-left: 9rem !important;
}

.display-caption-2 {
  font-size: 8rem !important;
}

.carousel-caption-1 {
  bottom: 15.55rem !important;
  margin-left: 20.5rem !important;
}
.img-1 {
  position: relative;
  left: 40%;
  margin-top: 4.5rem;
}
/* .carousel-caption-2 {
  left: -25% !important;
  bottom: 10.5rem !important;
}
.img-2 {
  position: relative;
  right: 10rem;
} */

/* .carousel-caption-3 {
  left: -30% !important;
  bottom: 13.25rem !important;
}
.special-margin {
  margin-bottom: -1.5rem !important;
}
.img-3 {
  position: relative;
  bottom: 2.5rem;
  right: 6.5rem;
} */
.carousel-control-prev-icon,
.carousel-control-next-icon {
  background-image: none !important;
}
.carousel-indicators {
  top: 470px !important;
}
.carousel-indicators button {
  border-radius: 50% !important;
  width: 15px !important;
  height: 15px !important;
  margin: 0 8px !important;
}

/*Responsive */
@media (max-width: 1200px) {
  .carousel-caption-1 {
    bottom: 15.55rem !important;
    margin-left: 12.5rem !important;
  }
  .img-1 {
    position: relative;
    left: 15%;
    margin-top: 4.5rem;
  }
}
@media (max-width: 991px) {
  .carousel-caption-1 {
    bottom: 1.55rem !important;
    margin-left: 7rem !important;
  }
  .img-1 {
    position: relative;
    left: 1%;
    margin-top: 4.5rem;
  }
}

@media (max-width: 767px) {
  .carousel-caption-1 {
    bottom: 60% !important;
    margin-left: 1.6rem !important;
  }
  .img-1 {
    position: relative;
    left: 30%;
    margin-top: 80%;
  }
  .carousel-indicators button {
    position: none;
  }
}

.circle {
  display: inline-flex;
  padding-left: 50px;
  padding-right: 50px;
  padding-bottom: 8px;
  border: 2px solid white;
  border-radius: 100px;
}

.mx-5 {
  margin-left: 9rem !important;
}

.display-caption-2 {
  font-size: 8rem !important;
}

.carousel-caption-1 {
  bottom: 15.55rem !important;
  margin-left: 20.5rem !important;
}
.img-1 {
  position: relative;
  left: 40%;
  margin-top: 4.5rem;
}
/* .carousel-caption-2 {
  left: -25% !important;
  bottom: 10.5rem !important;
}
.img-2 {
  position: relative;
  right: 10rem;
} */

/* .carousel-caption-3 {
  left: -30% !important;
  bottom: 13.25rem !important;
}
.special-margin {
  margin-bottom: -1.5rem !important;
}
.img-3 {
  position: relative;
  bottom: 2.5rem;
  right: 6.5rem;
} */
.carousel-control-prev-icon,
.carousel-control-next-icon {
  background-image: none !important;
}
.carousel-indicators {
  top: 470px !important;
}
.carousel-indicators button {
  border-radius: 50% !important;
  width: 15px !important;
  height: 15px !important;
  margin: 0 8px !important;
}

/*Responsive */
@media (max-width: 1200px) {
  .carousel-caption-1 {
    bottom: 15.55rem !important;
    margin-left: 12.5rem !important;
  }
  .img-1 {
    position: relative;
    left: 15%;
    margin-top: 4.5rem;
  }
}
@media (max-width: 991px) {
  .carousel-caption-1 {
    bottom: 1.55rem !important;
    margin-left: 7rem !important;
  }
  .img-1 {
    position: relative;
    left: 1%;
    margin-top: 4.5rem;
  }
}

@media (max-width: 767px) {
  .carousel-caption-1 {
    bottom: 60% !important;
    margin-left: 1.6rem !important;
  }
  .img-1 {
    position: relative;
    left: 30%;
    margin-top: 80%;
  }
  .carousel-indicators button {
    position: none;
  }
}

