.points-container {
  position: absolute;
  top: 0;
  left: 0;
}
@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}
.point {
  position: absolute;
  width: 15px;
  height: 15px;
  background: rgba(255, 255, 255, 1);
  filter: blur(3px);
  border-radius: 50%;
  cursor: pointer;
  animation: pulse 2s infinite;
}

.point.selected,
.selected-link {
  background-color: #ff0000;
  filter: blur(3px);
  cursor: pointer;
}

.image-container,
.image-wrapper {
  position: absolute;
}
.product-container {
  position: absolute;
}

.product-container-left{
  display: inline-block;
  vertical-align: top;
  margin: 150px 105px;
}
.product-container-right {
  display: inline-block;
  vertical-align: top;
  margin: 150px 80px;
}

.product-container-left-unique {
  display: inline-block;
  vertical-align: top;
  margin: 150px 40px;
  padding-right: 10rem;
}
.special-css-class {
  margin-top: 90px;
}
/*

*/