
@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}
.mb-5-body{
  margin-bottom: 9rem !important;
}
.point {
  position: absolute;
  width: 15px;
  height: 15px;
  background: rgba(255, 255, 255, 1);
  filter: blur(3px);
  border-radius: 50%;
  cursor: pointer;
  animation: pulse 2s infinite;
}

.point.selected,
.selected-link {
  background-color: #ff0000;
  filter: blur(3px);
  cursor: pointer;
}

.image-container,
.image-wrapper {
  position: absolute;
}
.product-container {
  position: absolute;
}

.product-container-left{
  display: inline-block;
  vertical-align: top;
  margin: 150px 105px;
}
.product-container-right {
  display: inline-block;
  vertical-align: top;
  margin: 150px 80px;
}

.product-container-left-unique {
  display: inline-block;
  vertical-align: top;
  margin: 150px 90px;
  padding-right: 12rem;
}
.special-css-class {
  margin-top: 90px;
}
.container-body {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto;
  gap: 10px;
  justify-content: center;
  align-items: center;
  max-width: 100%;
}

.image {
  max-width: 100%;
  height: auto;
}

.points-container {
  position: relative;
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (max-width: 768px) {
  .container {
    grid-template-columns: 1fr;
  }
}

@media (max-width: 768px) {
  .container-body {
    flex-direction: row;
  }
}