@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}

.point {
  position: absolute;
  width: 15px;
  height: 15px;
  background: rgba(255, 255, 255, 1);
  filter: blur(3px);
  border-radius: 50%;
  cursor: pointer;
  animation: pulse 2s infinite;
}

.point.selected,
.selected-link {
  background-color: #ff0000;
  filter: blur(3px);
  cursor: pointer;
}

.container-body {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto;
  gap: 10px;
  justify-content: center;
  align-items: center;
  max-width: 100%;
}

.points-container {
  position: relative;
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
.image-container-left,
.image-container-right {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
}
.image-container-left {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
.image-container-right {
  align-items: flex-end;
  margin-right: 20%;
}

@media (max-width: 768px) {
  .container {
    grid-template-columns: 1fr;
  }
  .mb-5-body {
    margin-bottom: 10rem !important;
  }
}
@media (max-width: 780px) {
  .products-container {
    position: relative;
    align-items: flex-end !important;
    justify-content: flex-end !important;
  }
  .container-body-min {
    position: absolute;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto;
    gap: 10px;
    justify-content: flex-start;
    align-items: flex-start;
    max-width: 100%;
  }
  .principal-container.align-items-center {
    position: relative;
    align-items: flex-end !important;
  }

  .image-container-right,
  .image-container-left {
    margin-right: 75%;
    padding: 20px 10px !important;
  }
}
@media (max-width: 501px) {
  .image-container-right,
  .image-container-left {
    margin-right: 55%;
    padding-left: 10px !important;
  }
}
@media (max-width: 420px) {
  .image-container-right,
  .image-container-left {
    margin-left: 55%;
    margin-top: 10%;
    padding-top: 10px !important;
    padding-right: 1px !important;
  }
}
@media (max-width: 395px) {
  .image-container-right,
  .image-container-left {
    margin-right:43%;
    padding-top: 10px !important;
    padding-right: 1px !important;
  }
}
@media (max-width: 280px) {
  .image-container-right,
  .image-container-left {
    margin-right:0%;
    padding-top: 10px !important;
    padding-right: 1px !important;
  }
  .background-svg {
    background: linear-gradient(180deg, #003ADE 0%, rgba(1, 44, 166, 0.80) 100%);

  }
}

