
.card {
  background: rgba(52, 206, 255, 0.5) !important;
  border-radius: 50px !important;
  color: white !important;
  box-shadow: 0px -2px 8px rgba(0, 0, 0, 0.15);
  height: 25rem !important;
  width: 20rem !important;
}
.margin-top {
  margin-top: 3.5rem;
}

.card:hover {
  background: #003ade !important;
  cursor: pointer;
}
.custom-list {
  list-style-type: none;
}

li {
   list-style-image: url('/src/assets/Iconos/viñetas.png'); 
 
}

.card-divider {
  margin: 1rem 2.5rem;
  border-top: 1px solid #34ceff;
}

