footer {
  position: fixed;
  bottom: 0;
  width: 100%;
}

.social-media-links {
  margin-top: 30%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
}

.whatsapp-link {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.social-media-icon {
  width: 50px;
  height: 50px;
}

.whatsapp-icon {
  width: 60px;
  height: 60px;
}

.contact-image-container {
  position: absolute;
  bottom: 15%;
  left: 82%;
}
.ml-5 {
  margin: 0.5rem !important;
}
.mx-6 {
  margin-right: 1.5rem !important;
  margin-left: 1.5rem !important;
}

@media (max-width: 1610px) {
  .contact-image-container {
    left: 77%;
  }
}

@media (max-width: 1335px) {
  .contact-image-container {
    left: 75%;
  }
}
@media (max-width: 1218px) {
  .contact-image-container {
    left: 72%;
  }
}
@media (max-width: 1089px) {
  .contact-image-container {
    left: 67%;
  }
}
@media (max-width: 930px) {
  .contact-image-container {
    left: 64%;
  }
}
@media (max-width: 825px) {
  .contact-image-container {
    left: 60%;
  }
}

@media (max-width: 668px) {
  .contact-image-container {
    left: 57%;
  }
}
@media (max-width: 642px) {
  .contact-image-container {
    left: 55%;
  }
}
@media (max-width: 590px) {
  .contact-image-container {
    left: 47%;
  }
}
@media (max-width: 490px) {
  .contact-image-container {
    left: 40%;
  }
}
@media (max-width: 450px) {
  .contact-image-container {
    left: 30%;
  }
}
@media (max-width: 400px) {
  .contact-image-container {
    left: 25%;
  }
}
@media (max-width: 380px) {
  .contact-image-container {
    left: 20%;
  }
}
@media (max-width: 340px) {
  .contact-image-container {
    left: 15%;
  }
}

@media (max-width: 280px) {
  .contact-image-container img {
    width: 70% !important;
  }
  .contact-image-container {
    left: 30%;
    bottom: 35%;
  }
}
