.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: none;
  padding: 15px;
}

.footer-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

