a:hover {
  color: #00c0fc !important;
}

.navbar-toggler-icon {
  background-image: url("/src/assets/Iconos/menu.svg") !important;
}
.navbar-toggler {
  border: none !important;
}

.navbar-toggler:focus {
  box-shadow: none !important;
}

.navbar-toggler-icon svg {
  width: 50px !important;
  height: 50px !important;
  color: #ffffff;
  z-index: 1 !important;
}
.menu-icon {
  cursor: pointer;
  font-size: 35px;
  color: white;
  position: absolute;
  top: 10px;
  left: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
}

.menu-icon svg {
  width: 25px;
  height: 25px;
}
@media only screen and (max-width: 981px) {
  .navbar-collapse {
    position: absolute;
    top: 40px;
    left: -75px;
    border-radius: 0px 0px 45px 0px;
    width: 217px;
    height: 209px;
    flex-shrink: 0;
    background-color: rgba(52, 206, 255, 1);
    z-index: 1;
    padding: 1.5 !important;
  }
  .navbar-collapse .navbar-nav a {
    padding: 1rem !important;
  }
  .navbar-collapse .navbar-nav a:hover {
    color: #ffffff!important;
  }
  .navbar-nav {
    padding: 0px;
  }
}
