<<<<<<< HEAD
.image-product {
  position: absolute;
  width: 900px;
  height: 900px;
  top: 500px;
  right: 900px;
}
=======
.image-product {
  position: absolute;
  width: 900px;
  height: 900px;
  top: 500px;
  right: 900px;
}
>>>>>>> origin/main
